# .gitignore for Google Colab

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Data files
*.csv
*.tsv
*.h5
*.h5ad
*.pkl
*.data
*.dat

# Environment variables
.env

# Logs
*.log

# Temporary files
*.tmp
*.temp
